:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --accent-text-color: #2196f3;
  --primary-button-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --secondary-btn-color: #f5f4fa;
  --color-link: rgba(255, 255, 255, 0.6);
}
a {
  text-decoration: none;
}
.list {
  list-style: none;
}
/* file index.html */
/* -------------------body style ---------------*/
.page {
  background-color: var(--primary-white-color);
  color: var(primary-text-color);
}
/* ----------------haeder ----------------------*/
.logo {
  color: var(--accent-color);
}
.studio {
  color: #000000;
}
.logo-footer {
  color: var(--primary-white-color);
}

/* style site-nav */
.site-nav .link {
  color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* style auth-nav */
.auth-nav a {
  color: var(--second-text-color);
}
.auth-nav a:hover,
.auth-nav a:focus {
  color: var(--accent-color);
}

/* main */
/* hero */
.hero {
  background-color: var(--secondary-bg-color);
  height: 600px;
}
.hero-title {
  color: var(--primary-white-color);
  width: 696px;
}
/* section */
.section {
  color: var(primary-text-color);
}

.feature-list .title {
  color: var(primary-text-color);
}
.feature-list .text {
  color: var(--second-text-color);
}
.button {
  background-color: var(--button-color);
  color: var(--primary-white-color);

  width: 216px;
  height: 50px;
}
.page-footer {
  background-color: var(--secondary-bg-color);
}
.footer-text {
  color: var(--primary-white-color);
}
.footer-link {
  color: var(--color-link);
}
/* file portfolio */
.filters-btn {
  background-color: var(--secondary-btn-color);
}
.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--accent-color);
}
.primary-text {
  color: var(--primary-text-color);
}
.text {
  color: var(--second-text-color);
}
